<div class="breathing-container">
  <mat-card class="phase-card">
    <mat-card-content>
      <phase-carousel
        [selectedPattern]="selectedPattern"
        [currentPhaseIndex]="currentPhaseIndex"
        [isActive]="isActive"
        [timeElapsed]="timeElapsed"
      ></phase-carousel>
      <div class="controls">
        <button
          mat-fab
          color="primary"
          class="control-button"
          (click)="isActive ? stopTimer() : startTimer()"
          aria-label="Start or stop breathing exercise"
        >
          <mat-icon>{{ isActive ? "pause" : "play_arrow" }}</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="settings-card">
    <mat-card-content>
      <!-- Pattern Selection -->
      <div class="pattern-selection">
        <div class="pattern-buttons">
          <ng-container *ngFor="let pattern of patterns">
            <ng-container
              *ngIf="pattern.name === selectedPattern.name; else notSelected"
            >
              <button
                mat-flat-button
                color="primary"
                (click)="selectPattern(pattern)"
              >
                {{ pattern.name }}
              </button>
            </ng-container>
            <ng-template #notSelected>
              <button mat-stroked-button (click)="selectPattern(pattern)">
                {{ pattern.name }}
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>
      <div class="speed-control">
        <div class="select-container">
          <mat-form-field appearance="fill" class="speed-select">
            <mat-label>Increase/Decrease timing</mat-label>
            <mat-select
              [disabled]="isActive"
              [value]="phaseAdjustment"
              (selectionChange)="updateSpeed($event.value)"
            >
              <mat-option
                *ngFor="let value of phaseAdjustmentOptions"
                [value]="value"
              >
                {{ value }} second{{ value > 1 || value < -1 ? "s" : "" }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
