<div class="breathing-container">
  <mat-card class="phase-card">
    <mat-card-content>
      <phase-carousel
        [selectedPattern]="selectedPattern"
        [currentPhaseIndex]="currentPhaseIndex"
        [isActive]="isActive"
        [timeElapsed]="timeElapsed"
      ></phase-carousel>

      <!-- Timer Controls -->
      <div class="controls">
        <button
          mat-fab
          color="primary"
          class="control-button"
          (click)="isActive ? stopTimer() : startTimer()"
          aria-label="Start or stop breathing exercise"
        >
          <mat-icon>{{ isActive ? "pause" : "play_arrow" }}</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="settings-card">
    <mat-card-content>
      <!-- Pattern Selection -->
      <div class="pattern-selection">
        <div class="pattern-buttons">
          <ng-container *ngFor="let pattern of patterns">
            <ng-container *ngIf="pattern === selectedPattern; else notSelected">
              <button
                mat-flat-button
                color="primary"
                (click)="selectPattern(pattern)"
              >
                {{ pattern.name }}
              </button>
            </ng-container>
            <ng-template #notSelected>
              <button mat-stroked-button (click)="selectPattern(pattern)">
                {{ pattern.name }}
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>

      <div class="speed-control">
        <label for="speedSlider">Adjust timing for all phases</label>
        <div class="slider-container">
          <mat-slider
            [disabled]="isActive"
            min="-2"
            max="15"
            step="1"
            class="speed-slider"
          >
            <input
              matSliderThumb
              [value]="phaseAdjustment"
              (input)="updateSpeed($event)"
            />
          </mat-slider>
          <div class="speed-info">
            <span class="speed-value"
              >{{ phaseAdjustment }} second{{
                phaseAdjustment > 1 || phaseAdjustment < -1 ? "s" : ""
              }}
              adjustment</span
            >
            <button
              mat-button
              *ngIf="phaseAdjustment !== 0"
              [disabled]="isActive"
              class="link-style"
              color="primary"
              (click)="resetSpeed($event)"
            >
              reset
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
